<script>

  import {generateRandomAlphabet} from'./functions/alphabetindex.js';
  import {genRandomNumber} from'./functions/randomindex.js';
  
  let randomNumber = genRandomNumber(1, 10);
  let randomAlphabet = generateRandomAlphabet();
  
</script>
  
  <main>
   
    <div class="container">
      <div class="random-number">
        <h1>The random number is: {randomNumber}</h1>
        <button on:click={() => randomNumber = genRandomNumber(1, 10)}>Generate new random number</button>
      </div>
      <div>
        <h1>The random alphabet is: {randomAlphabet}</h1>
        <button on:click={() => randomAlphabet = generateRandomAlphabet()}>Generate new random alphabet</button>
      </div>
    </div>
    
  </main>

  <style>
    
    /* Use CSS variables for colors to make it easier to update the theme */
:root {
  --background-color: #121212;
  --container-color: #1f1f1f;
  --primary-color: #3f51b5;
  --primary-color-hover: #303f9f;
  --text-color: #fff;
}

/* Global styles */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

/* Main content container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: var(--container-color);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Heading styles */
h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-color);
  text-transform: uppercase;
}

/* Button styles */
button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color-hover);
}

/* Media queries */
@media screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }
  
  h1 {
    font-size: 1.2rem;
  }
  
  button {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}



  </style>
  
  

    
    